.gradle
.gradletasknamecache
build
out
.idea
*.iml
*.ipr
*.iws
*.DS_Store
.idea
.settings
.classpath
.project
.vscode
*.swp
*.log
.env
*.pem
fineract-certbot/data/certbot/conf/accounts/*
fineract-db/persistance/*